@using sThuoc.Filter
@model sThuoc.Models.RegisterModel
@{
    ViewBag.Title = "Thêm mới nhân viên";
}

<h4 ><b>@ViewBag.Title</b></h4>

@using (Html.BeginForm("CreateStaff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr style="margin-top:0px" />
    @*@Html.ValidationSummary()*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">            
            <label class="account-suffix">@ViewBag.AccountSuffix</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })            
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "Bạn phải nhập mật khẩu người dùng", new { @class = "text-danger" })*@
        </div>
    </div>

    //Add the LastName, FirstName, and Email Properties:
    <div class="form-group">
        @Html.LabelFor(m => m.TenDayDu, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TenDayDu, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TenDayDu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SoDienThoai, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })
        </div>
    </div>

    <div>
        <div class="col-md-10">
            <p class="msg_head">Thêm <span style="cursor: pointer">[+]</span></p>
        </div>
        <div class="form-group">
        </div>
        @*<div class="form-group">
            </div>
            <div class="form-group">
            </div>*@
    </div>
    
    <div id="trSlide">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "Email không hợp lệ", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SoCMT, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SoCMT, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<a href="@Url.Action("staff")" class="btn btn-default">Quay lại</a> <span class="btn-separator">|</span>*@
            <input type="button" value="Quay lại" class="btn btn-default" onclick="javascript:window.history.go(-1);" />
            <span class="btn-separator"></span>
            <input type="submit" class="btn btn-primary" value="Thêm mới" />
        </div>
    </div>
    }

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
        <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
        <script src="~/Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>
        <script src="~/Scripts/Custom/formUtil.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                initialForm();
            });
        </script>
    }
