
@model sThuoc.Models.EditUserViewModel
@{
    ViewBag.Title = "Xóa nhân viên";
}
<h4><b>Bạn chắc chắn muốn xóa nhân viên này?</b></h4>
<div class="form-horizontal">
    <hr style="margin-top:0px" />
@using (Html.BeginForm())
{
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenDayDu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDayDu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoDienThoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoCMT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoCMT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoatDong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoatDong)
            </dd>

        </dl>*@
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TenDayDu, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TenDayDu, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SoDienThoai, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SoCMT, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SoCMT, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoatDong, new { @class = "col-md-2 control-label" })
        <div class="col-md-1">
            @*@Html.EditorFor(m => m.HoatDong, new { @class = "form-control", @readonly = "readonly" })*@
            @Html.EditorFor(model => model.HoatDong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            
        </div>
    </div>
  
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Quay lại", "staff", null, new { @class = "btn btn-default" })*@
                <input type="button" value="Quay lại" class="btn btn-default" onclick="javascript:window.history.go(-1);" />
                <span class="btn-separator"></span>
                <input type="submit" value="Xác nhận" class="btn btn-danger" />
            </div>
        </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>
    <script src="~/Scripts/Custom/formUtil.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            initialForm();
        });
    </script>
}
