@model  sThuoc.Models.ResetPasswordModel

@{
    ViewBag.Title = "Khôi phục mật khẩu";
}
<h4><b>@ViewBag.Title</b></h4>
<hr />
<p>Nhập vào tên đăng nhập của bạn để khôi phục mật khẩu</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>

        <div>
            <label>Tên đăng nhập</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control span4" } })
            @Html.ValidationMessageFor(model => model.UserName, "tên đăng nhập không chính xác")
            <br />
            <div class="clearfix"></div>
        </div>
        <div>
            <label>Số điện thoại</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control span4" } })
            @Html.ValidationMessageFor(model => model.Phone, "Không được để trống SĐT")
            <br />
            <div class="clearfix"></div>
        </div>
        <br />
        <p>
            <input type="submit" value="Khôi phục" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại trang đăng nhập", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
