@model sThuoc.Models.ViewModels.TheoNhaCungCapViewModel
@using System.Collections
@using System.IdentityModel.Tokens
@using MedMan.App_Start
@using sThuoc.Models.ViewModels
@{
    ViewBag.Title = "BÁO CÁO THEO NHÀ CUNG CẤP";
}
<link href="~/Content/baocao.css" rel="stylesheet" />
@*<h2 style="color:green; text-align:center"><b>@ViewBag.Title</b></h2>*@
<div class="print-date">@DateTime.Now.ToString("dd/MM/yyyy")</div>
<div style="font-size: 30px; text-align: center;color: green;padding: 0px"><b>@ViewBag.Title</b></div>
<br />
@*<div class="container">*@
<div class="row">
    <div class="col-md-3 baocao-filter">
        @using (Html.BeginForm("TheoNhaCungCap", "BaoCao", FormMethod.Get))
        {
            <fieldset class="">
                <legend><b>Nhà cung cấp</b></legend>
                <div>
                    <div>
                        @Html.DropDownListFor(m => m.Type, new SelectList((IEnumerable)Model.Types, "Key", "Value", Model.Type), new { @class = "form-control" })
                        <br />
                        @Html.DropDownListFor(m => m.MaNhaCungCap, new SelectList((IEnumerable)ViewBag.NhaCungCaps, "MaNhaCungCap", "TenNhaCungCap", Model.MaNhaCungCap), new { @class = "form-control", @disabled = "disabled", @style = "display:none" })
                        @Html.DropDownListFor(m => m.MaNhomNhaCungCap, new SelectList((IEnumerable)ViewBag.NhomNhaCungCaps, "MaNhomNhaCungCap", "TenNhomNhaCungCap", Model.MaNhomNhaCungCap), new { @class = "form-control", @disabled = "disabled", @style = "display:none" })
                    </div>

                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend><b>Ngày</b></legend>
                <div>
                    <div class="radio">
                        <div><input name="Period" type="radio" id="theongay-all" value="all" checked="checked" @(Model.Period == "all" ? "checked='checked'" : "") /> <label for="theongay-all">Tổng kết hết</label></div>
                        <div>
                            <input name="Period" type="radio" id="theongay-period" value="period" @(Model.Period == "period" ? "checked='checked'" : "") /> <label for="theongay-period">Tổng kết theo ngày ...</label>
                        </div>
                        <div id="period" style="display: none">
                            <div class="input-group input-group-sm">
                                @*<input type="text" placeholder="Từ ngày.." class="form-control input-datetimepicker from" readonly="readonly" name="from">*@
                                @Html.TextBoxFor(model => model.From, new { @Value = Model.From.HasValue ? Model.From.Value.ToString("dd/MM/yyyy") : "", @class = "form-control input-datetimepicker from", @readonly = "readonly", placeholder = "Từ ngày.." })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <br />
                            <div class="input-group input-group-sm">
                                @*<input type="text" placeholder="Đến ngày.." class="form-control input-datetimepicker to" readonly="readonly" name="to">*@
                                @Html.TextBoxFor(model => model.To, new { @Value = Model.To.HasValue ? Model.To.Value.ToString("dd/MM/yyyy") : "", @class = "form-control input-datetimepicker to", @readonly = "readonly", placeholder = "Đến ngày.." })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Xem" class="btn btn-default" />
                <input type="hidden" name="export" value="" />
                <input type="submit" value="Xuất Excel" class="btn btn-default btn-excel" />
                <input type="button" value="In" class="btn btn-default btn-print" onclick="" />
            </div>
        }
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <div class="baocao-container">
                <div class="print-header">
                    <table>
                        <tr>
                            <td>Nhà cung cấp: <span id="user-filter"></span></td>
                            <td>Kỳ báo cáo: <span id="report-period"></span></td>
                        </tr>
                    </table>
                </div>
                @if (Model.Items.Any())
                {
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th style="background-color:darkgray">STT</th>
                                @if (Model.Type == "byname")
                                {
                                    <th style="background-color:darkgray">Ngày</th>
                                    <th style="background-color:darkgray">Số phiếu</th>
                                    <th style="background-color:darkgray">Nhà cung cấp</th>                                
                                    <th style="text-align: right; background-color:darkgray">Tổng tiền</th>
                                    <th style="text-align: right; background-color:darkgray">Tiền trả</th>
                                    <th style="text-align: right; background-color:darkgray">Tiền nợ</th>
                                }
                                else
                                {
                                    <th style="background-color:darkgray">Nhà cung cấp</th>
                                    <th style="text-align: right; background-color:darkgray">Tổng tiền</th>
                                    <th style="text-align: right; background-color:darkgray">Tiền trả ngay</th>
                                    <th style="text-align: right; background-color:darkgray">Tiền trả sau</th>
                                    <th style="text-align: right; background-color:darkgray">Tiền nợ</th>
                                }
                                
                            </tr>
                        </thead>
                        <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model.Items)
                            {
                                ++stt;
                                <tr>
                                    <td>@stt</td>
                                    @if (Model.Type == "byname")
                                    {
                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                        if (item.MaLoai == 2 || item.MaLoai == 0)
                                        {
                                            <td>@Html.ActionLink(item.SoPhieu.ToString(), "Details", "PhieuXuats", new { id = item.MaPhieu }, null)</td>
                                        }
                                        if (item.MaLoai == 1 || item.MaLoai == 5)
                                        {
                                            <td>@Html.ActionLink(item.SoPhieu.ToString(), "Details", "PhieuNhaps", new { id = item.MaPhieu }, null)</td>
                                        }
                                        <td>@item.TenNhaCungCap</td>
                                        <td style="text-align: right">@Math.Round(item.TongTien,0).ToString("#,##0")</td>
                                        <td style="text-align: right">@Math.Round(item.DaTra,0).ToString("#,##0")</td>
                                        <td style="text-align: right">@Math.Round(item.TienNo,0).ToString("#,##0")</td>
                                    }
                                    else
                                    {
                                        <td>@item.TenNhaCungCap</td>
                                        <td style="text-align: right">@Math.Round(item.TongTien,0).ToString("#,##0")</td>
                                        <td style="text-align: right">@Math.Round(item.DaTra,0).ToString("#,##0")</td>
                                        <td style="text-align: right">@Math.Round(item.TongTraSau,0).ToString("#,##0")</td>
                                        <td style="text-align: right">
                                            @{
                                                decimal tienno = 0;
                                                tienno = item.TongTien - item.DaTra - item.TongTraSau;
                                            }
                                            @tienno.ToString("#,##0")
                                        </td>
                                    }
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<div class="summary">*@
                    <div class="pull-right">
                        <table>
                            <tr>
                                <td>Tổng tiền: <strong style="color:red">@Model.Items.Sum(e => Math.Round(e.TongTien,0)).ToString("#,##0")</strong> </td>
                                <td><span class="btn-separator"></span></td>
                                <td>Tổng trả ngay: <strong style="color:red"> @Model.Items.Sum(e => e.DaTra).ToString("#,##0")</strong> </td>
                                <td><span class="btn-separator"></span></td>
                                @if (Model.Type == "byname")
                                {
                                    <td>Tổng trả sau: <strong style="color:red"> @Model.Items.FirstOrDefault().TongTraSau.ToString("#,##0")</strong> </td>
                                }
                                else
                                {
                                    <td>Tổng trả sau: <strong style="color:red"> @Model.Items.Sum(e => e.TongTraSau).ToString("#,##0")</strong> </td>
                                }
                               
                                <td><span class="btn-separator"></span></td>
                                <td>
                                    @{ decimal tongno = 0;
                                       if (Model.Type == "byname")
                                       {
                                           tongno = Model.Items.Sum(e => Math.Round(e.TienNo,0)) - Model.Items.FirstOrDefault().TongTraSau;
                                       }
                                       else
                                       {
                                           tongno = Model.Items.Sum(e => e.TienNo) - Model.Items.Sum(e => e.TongTraSau); 
                                       }
                                         
                                     }                                    
                                    Tổng nợ: <strong style="color:red">@tongno.ToString("#,##0")</strong> 
                                </td>
                            </tr>
                            @*<tr>
                                    <td>Tổng nợ: <strong>@Model.Items.Sum(e => e.TienNo).ToString("0,### VND")</strong> </td>
                                    <td></td>
                                    <td></td>
                                </tr>*@
                        </table>
                        @*</div>
                            <div class="clearfix"></div>*@
                    </div>
                }
                else
                {
                    <p>Không có dữ liệu</p>
                }
            </div>
        </div>

    </div>
</div>

@*</div>*@
@section Scripts{
    <script src="~/Scripts/Custom/baocao.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            theoNhaCungCap();
        });
    </script>

}
