@model sThuoc.Models.NhomNhaCungCap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhomNhaCungCap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhomNhaCungCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhomNhaCungCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhomNhaCungCap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
