@using System.Globalization
@using Med.Web.Controllers
@using sThuoc.Models
@model sThuoc.Models.PhieuXuatEditModel

@{
    ViewBag.Title = "Tạo mới phiếu xuất hàng";
    if (ViewBag.LoaiPhieu == "4")
    {
        ViewBag.Title = "Tạo mới phiếu trả lại hàng nhà cung cấp";
    }
}
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/phieuStyle.css" rel="stylesheet" />
<link href="~/Content/selectize.bootstrap3.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "PhieuXuats", new { loaiPhieu = ViewBag.LoaiPhieu }, FormMethod.Post, new { id = "frmPhieuXuat", onkeydown = "return event.keyCode!=13" }))
{
    @Html.AntiForgeryToken()
    var title = "PHIẾU XUẤT HÀNG";
    if (ViewBag.LoaiPhieu == "4")
    {
        title = "TRẢ LẠI HÀNG NHÀ CUNG CẤP";
    }
    <div class="form-horizontal" ng-controller="DeliveryNoteController" id="create-delivery-note" ng-cloak>
        <h2 style="font-size: 30px; text-align: center;color: coral">@title</h2>
        <div class="input-group margin-bottom-sm">
            @*@Html.TextBox("maThuoc", null, htmlAttributes: new { @class = "form-control", placeholder = "Nhập mã hoặc tên thuốc vào đây..." })*@
            <input type="text" id="maThuoc" class="form-control" placeholder="Nhập mã hoặc tên thuốc vào đây..." />
            <span class="input-group-btn">
                @*<button class=" btn btn-default"><i class="fa fa-barcode" style="font-size:larger"></i></button>*@
                <a href="javascript:void(0);" class="btn btn-default" onclick="scan()"><i class="fa fa-barcode"></i></a>
            </span>
        </div><!-- /input-group -->
        <table class="table-condensed table-responsive display" id="tblCt">
            <thead>
                <tr role="row">
                    <th style="width: 5%;"></th>
                    <th style="width: 5%;">#</th>
                    <th style="width: 10%;">Mã</th>
                    <th style="width: 25%;">Tên Hàng</th>
                    <th style="width: 15%;">Đơn Vị</th>
                    <th style="width: 10%;">SL</th>
                    <th style="text-align: right; width: 10%;">Đơn Giá</th>
                    <th style="text-align: right; width: 10%;">C.K</th>
                    <th style="text-align: right;">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.PhieuXuatChiTiets != null)
                {
                    for (var i = Model.PhieuXuatChiTiets.Count - 1; i >= 0; i--)
                    {
                        <tr>
                            <td style="padding: 10px 0">
                                @Html.HiddenFor(model => Model.PhieuXuatChiTiets[i].MaPhieuXuatCt)
                                @Html.HiddenFor(model => Model.PhieuXuatChiTiets[i].MaPhieuXuat)

                                <a class="edit-thuoc display-mode" style="cursor: pointer" id="0" title="Sửa"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a class="save-thuoc edit-mode text-success" style="cursor: pointer" id="0" title="Lưu"><i class="glyphicon glyphicon-ok"></i></a>&nbsp;

                                <a class="delete-thuoc edit-mode text-danger" style="cursor: pointer" id="0" title="Xóa"><i class="glyphicon glyphicon-trash"></i></a>&nbsp;
                            </td>

                            <td>@(Model.PhieuXuatChiTiets.Count - i)</td>
                            <td>
                                <span class="" id="dMaThuoc@(i)">@Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].MaThuoc)</span>                                
                                @Html.TextBoxFor(model => Model.PhieuXuatChiTiets[i].MaThuoc, new { @class = "form-control drug-code", style = "display:none" })
                            </td>
                            <td>
                                <span class="" id="PhieuXuatChiTiets_@(i)__TenSp">@Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].TenThuoc)</span>
                                <input class="form-control thuocFinder drug-name" type="text" id="PhieuXuatChiTiets_@(i)__TenThuoc" value="@Model.PhieuXuatChiTiets[i].TenThuoc" style="display:none">
                                @Html.HiddenFor(model => Model.PhieuXuatChiTiets[i].ThuocId)
                            </td>
                            <td>
                                <span class="display-mode" id="PhieuXuatChiTiets_@(i)__MaDonViTinhSp">@Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].TenDonViTinh)</span>
                                <input type="hidden" id="_@(i)__HaiDonViTinh" value="@(Model.PhieuXuatChiTiets[i].MaDonViTinhLe + ";" + Model.PhieuXuatChiTiets[i].MaDonViTinhThuNguyen)" />

                                @Html.DropDownListFor(model => Model.PhieuXuatChiTiets[i].MaDonViTinh, new SelectList(ViewBag.MaDonViTinh, "MaDonViTinh", "TenDonViTinh", Model.PhieuXuatChiTiets[i].MaDonViTinh), htmlAttributes: new { @class = "form-control edit-mode drug-unit" })
                            </td>
                            <td>
                                <span class="display-mode pNumber" id="PhieuXuatChiTiets_@(i)__SoLuongSp">@Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].SoLuong)</span>
                                @Html.EditorFor(model => Model.PhieuXuatChiTiets[i].SoLuong, new { htmlAttributes = new { @class = "form-control edit-mode", format = "number" } })
                            </td>
                            <td>
                                @*<span class="display-mode pNumber" id="PhieuXuatChiTiets_@(i)__GiaXuatSp">@Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].GiaXuat)</span>
                                @Html.EditorFor(model => Model.PhieuXuatChiTiets[i].GiaXuat, new { htmlAttributes = new { @class = "form-control edit-mode", format = "number", @data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': '', 'placeholder': '0'" } })*@
                                <div class="input-group">
                                    <span class="display-mode pNumber" id="PhieuXuatChiTiets_@(i)__GiaXuatSp">
                                        @Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].GiaXuat)
                                    </span>
                                    @Html.EditorFor(model => Model.PhieuXuatChiTiets[i].GiaXuat, new { htmlAttributes = new { @class = "form-control edit-mode pNumber drug-price", format = "number", @data_inputmask = "\'alias\': \'numeric\', \'groupSeparator\': \',\', \'autoGroup\': true, \'digits\': 0, \'digitsOptional\': false, \'suffix\': \'\'" } })
                                    <span class="input-group-btn " id="phieuxuatchitiets_@(i)__icongiaxuat" onclick="event.preventDefault();"><button class="btn" ng-click="updateInPrice($event); $event.preventDefault();"><a style="cursor: pointer;" id="luuGiaXuatId" title="Cập nhật giá xuất"><i class="glyphicon glyphicon-edit"></i></a></button></span>
                                </div>
                            </td>
                            <td>
                                <span class="display-mode pNumber" id="PhieuXuatChiTiets_@(i)__ChietKhauSp">
                                    @Html.DisplayFor(model => Model.PhieuXuatChiTiets[i].ChietKhau) <label>%</label>
                                </span>
                                @Html.EditorFor(model => Model.PhieuXuatChiTiets[i].ChietKhau, new { htmlAttributes = new { @class = "form-control edit-mode", @data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' %', 'placeholder': '0'" } })
                            </td>


                            <td>
                                <input type="hidden" value="@(Model.PhieuXuatChiTiets[i].HeSo)" id="PhieuXuatChiTiets_@(i)__HeSo" />
                                <input type="hidden" value="@(Model.PhieuXuatChiTiets[i].MaDonViTinhLe)" id="PhieuXuatChiTiets_@(i)__DVX" />
                                <input type="hidden" value="@(Model.PhieuXuatChiTiets[i].MaDonViTinhThuNguyen)" id="PhieuXuatChiTiets_@(i)__DVTN" />
                                <b class="pNumber" name="miniSum">

                                </b>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*Thông tin thanh toán*@
        <table style="width:100%">
            <tr>
                <b>Thông tin thanh toán</b>
            </tr>
            <tr>
                <td style="width:95px">
                    Tổng số tiền
                </td>
                <td id="spanSumAll">
                    @Html.HiddenFor(model => model.TongTien)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="ckVAT" @(Model.VAT > 0 ? "checked=checked" : "") />&nbsp;@Html.LabelFor(model => model.VAT) &nbsp;
                </td>
                <td>
                    @if (Model.VAT > 0)
                    {
                        <div class="input-group margin-bottom-sm">
                            @Html.TextBoxFor(model => model.VAT, new { @data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': '%', 'placeholder': '0'", size = 1 })
                            <span style="font-weight: bold" id="spSumfinal">
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="input-group margin-bottom-sm">
                            @Html.TextBoxFor(model => model.VAT, new { size = 1, @Value = 0, style = "display: none", @data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': '%', 'placeholder': '0'" }) &nbsp; &nbsp;
                            <span style="font-weight: bold" id="spSumfinal">
                            </span>
                        </div>

                    }
                </td>
            </tr>
            <tr @(ViewBag.LoaiPhieu.ToString() == "4" ? "style=display:none" : "")>
                <td>
                    Trả
                </td>
                <td>
                    <div class="input-group margin-bottom-sm">
                        @Html.TextBoxFor(model => model.DaTra, new { size = 10, @data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': '', 'placeholder': '0'" })
                        <input type="button" value="F" title="Ấn vào đây để trả đủ số tiền" id="btnFull" /> &nbsp;
                        <span id="spDebt" style="color: red">Còn nợ: @string.Format("{0:#,##0}", Model.TongTien - Model.DaTra)</span>
                    </div>
                </td>

            </tr>
        </table>
        <br />
        @*Thông tin phiếu*@
        <table style="width:100%">

            <tr>
                <b>Thông tin phiếu nhập</b>
            </tr>

            <tr>
                <td style="width:95px">
                    Mã số
                </td>
                <td>
                    <strong>@ViewBag.SoPhieu</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Ngày
                </td>
                <td id="dvNgayXuat">
                    <div class="clickable-text daterange-picker daterange-picker"><input type="text" id="inputDatePicker" /><span id="inputDate" style="width: 10%">@ViewBag.NgayXuat</span></div>
                </td>
            </tr>
            @Html.HiddenFor(model => model.NgayXuat, new { @Value = ViewBag.NgayXuat })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            @Html.HiddenFor(model => model.MaPhieuXuat)
            @Html.HiddenFor(model => model.MaLoaiXuatNhap, new { @Value = ViewBag.LoaiPhieu })

            @if (ViewBag.LoaiPhieu == "2")
            {
                <tr>
                    <td style="text-align: left;width:100px">
                        Khách hàng
                    </td>
                    <td>
                        @Html.DropDownList("MaKhachHang", null, htmlAttributes: new { @class = "form-control khachang-item" })
                        @Html.ValidationMessageFor(model => model.MaKhachHang, "Chưa chọn khách hàng", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Bác sỹ
                    </td>
                    <td>
                        @Html.DropDownList("MaBacSy", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Chọn bác sỹ")
                        @Html.ValidationMessageFor(model => model.MaBacSy, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
            else if (ViewBag.LoaiPhieu == "4")
            {
                <tr>
                    <td>
                        <label class="control-label">Nhà cung cấp</label>
                    </td>
                    <td>
                        @*@Html.DropDownList("MaNhaCungCap", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Chọn nhà cung cấp")*@
                        @Html.DropDownList("MaNhaCungCap", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNhaCungCap, "Chưa chọn nhà cung cấp", new { @class = "text-danger" })
                    </td>
                </tr>

            }
            <tr>
                <td>Diễn giải</td>
                <td>
                    @Html.EditorFor(model => model.DienGiai, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập diễn giải..." } })
                    @Html.ValidationMessageFor(model => model.DienGiai, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br />
                    @Html.HiddenFor(model => model.Xoa, new { @Value = "False" })
                    <div class="form-inline">
                        @*@Html.ActionLink("Quay lại", "Index", "PhieuNhaps", null, new { @class = "btn btn-default" })*@
                        @Html.ActionLink("Quay lại", "Index", "PhieuNhaps", new { loaiPhieu = ViewBag.LoaiPhieu }, new { @class = "btn btn-default" })
                        <span class="btn-separator"></span>
                        <input type="submit" value="Ghi Phiếu" onclick="return fnCheckStatusTable();" class="btn btn-default" />
                    </div>
                    @*<div class="input-group margin-bottom-sm">
                            <label class="control-label"></label>
                            <div class="form-inline">
                                @Html.ActionLink("Quay lại", "Index", "PhieuNhaps", null, new { @class = "btn btn-default" })
                                <span class="btn-separator"></span>
                                <input type="submit" value="Ghi Phiếu" class="btn btn-default" />
                            </div>
                        </div>*@
                </td>
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Production/Views/Drug/Partial/UpdateDrugOutPriceDialog.cshtml")
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datepicker-vi.js"></script>
    <script src="~/Scripts/Custom/PhieuXuatMobile.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>
    <script src="~/Scripts/jquery.selectize.js"></script>
    <script type="text/javascript">
        $.validator.methods["date"] = function(value, element) { return true; };

        $(document).ready(function () {
            createDonViTinh();
            InitHelper();
            $("#maThuoc").focus();
            //CalculateSum();
            //Form submit function
            $('#frmPhieuXuat').submit(function (event) {
                //    event.preventDefault();
                //    //Remove the test row
                //    $($("thead")[0]).children()[1].remove();
                BindSoLuong(true);

                //    $('#frmPhieuXuat').unbind('submit').submit();
            });
            // input masks
            inputmask.extendDefaults({
                'autoUnmask': true,
                'removeMaskOnSubmit':true
            });
            $(":input,span").inputmask();
        });

        //Create a blank row
        function createDonViTinh() {
            var slDvt = '<select class="form-control edit-mode valid drug-unit" data-val="true" data-val-number="The field MaDonViTinh must be a number." data-val-required="The MaDonViTinh field is required." id="PhieuXuatChiTiets_-1__MaDonViTinh" name="PhieuXuatChiTiets[-1].MaDonViTinh">';
            var slData = @Html.Raw(
                Json.Encode(
              ((IEnumerable<DonViTinh>)ViewBag.MaDonViTinh).Select(dvt => new
                    {
                        maDvt = dvt.MaDonViTinh,
                        tenDvt = dvt.TenDonViTinh
                    })
                )
            );
            for(var key in slData) {
                slDvt += "<option value=" + slData[key].maDvt + ">" + slData[key].tenDvt + "</option>";
            }
            slDvt += "</select>";
            CreateInsertRow("@(ViewBag.MaNhaThuoc)",0,slDvt);
        }

    </script>
}
