@model sThuoc.Models.Thuoc
@using Med.Web.Extensions
@using sThuoc.Filter
@using sThuoc.Models;
@{ Layout = null;}
<!-- Modal -->
<div class="modal fade" id="thuocDialogModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="myModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Thông tin về @Model.TenDayDu</b></h4>
                @*<hr style="margin-top:0px" />*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-userpicker" style="max-height: 300px;min-width:200px">
                            <tbody>
                                <tr class="">
                                    <td><b>Mã thuốc:</b></td>
                                    <td>@Model.MaThuoc</td>
                                </tr>
                                <tr>
                                    <td><b>Tên thuốc:</b></td>
                                    <td>@Model.TenDayDu</td>
                                </tr>
                                <tr>
                                    <td><b>Mã vạch:</b></td>
                                    <td>@Model.BarCode</td>
                                </tr>
                                <tr>
                                    <td><b>Hàng tư vấn:</b></td>
                                    @if (Model.HangTuVan)
                                    {
                                        <td><i class="fa fa-check" style="color:green"></i></td>
                                    }
                                    else
                                    {
                                        <td><i class="fa fa-times" style="color:red"></i></td>
                                    }
                                    
                                </tr>
                                
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td><b>Đơn vị xuất lẻ:</b></td>
                                    <td>@Model.DonViXuatLe.TenDonViTinh</td>
                                </tr>
                                <tr>
                                    <td><b>Quy cách:</b></td>
                                    <td>@ViewBag.QuyCach</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td><b>Giá nhập lẻ:</b></td>
                                    @*<td style="text-align:left">@string.Format("{0:0,###}", ViewBag.GiaNhap)</td>*@
                                    @if (this.HasPermisson("thuocs", "ViewPriceInput"))
                                    {
                                        <td> @string.Format("{0:#,##0}", ViewBag.GiaNhap)</td>
                                    }
                                    else
                                    {
                                        <td>***</td>
                                    }
                                </tr>
                           
                                <tr>
                                    <td><b>Giá bán lẻ:</b></td>
                                    <td style="text-align:left">@string.Format("{0:#,###}", ViewBag.GiaXuat)</td>
                                </tr>
                                <tr class="" style="display: none">
                                    <td><b>Ngày cập nhật:</b></td>
                                    <td style="text-align:left">@ViewBag.LastDayUpdate</td>
                                </tr>
                                <tr class="">
                                    <td><b>Giá bán sỉ:</b></td>
                                    <td style="text-align:left">@string.Format("{0:#,###}", ViewBag.GiaSi)</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr class="">
                                    <td><b>Giới hạn tồn:</b></td>
                                    <td style="text-align:left">@string.Format("{0:#,###}", ViewBag.GioiHan)</td>
                                </tr>
                               
                                <tr class="">
                                    <td><b>Tồn kho hiện tại:</b></td>
                                    <td style="text-align:left">@string.Format("{0:#,##0.#}", ViewBag.SoLuong) @Model.DonViXuatLe.TenDonViTinh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
                @*<button type="button" class="btn btn-primary" id="userpick" data-dismiss>Chọn</button>*@
            </div>
        </div>
    </div>
</div>